/*#page-wrapper {
  background-color: #F1F1F1 !important;
}



.product_image {

width: 200px !important;
height: 100px !important;


}

#admin_sidebar .form-group {

background-color: #fff;
padding: 8px;

}

#admin_sidebar .form-group hr {

margin-top: 10px;
margin-bottom: 10px;


}

#admin_sidebar .btn{

width: 49%;

}*/

.slide_image {
  width : 200px;
  margin-bottom: 10px;
}

.page-header small {
  font-size: .4em;
}

.page-header select{
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

.page-header a {
  color: #000;
  text-decoration: none;
}


.jcrop-thumb {
	top:100px;
	right: 100px;
	border: 1px black solid;
}


#preview {
	border: 2px #e5e5e5 solid;

}

.thumbnail .caption {
  padding: 0;
}

.thumbnail .caption .btn {
  border-radius: 0 !important;
}

li.dropdown ul {
  width: 193px;
}

h1.category-title a {
  color: #ccc;
  text-decoration: none;
}

h1.category-title a.selected {
  color: #000;
}
